body {
    background-color: #f4f4f4;

    font-family: Arial, sans-serif;

    padding: 20px;
}

h1 {
    color: black;
}

p {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}

a {
    margin-bottom: 20px;
}
