<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <meta charset="UTF-8">
    <title>Minhas Tarefas</title>
</head>

<body>
<h1>Minhas Tarefas</h1>



<form method="POST">

        <input type="text" name="Tarefa">
    <button type="submit">Adicionar</button>

</form>

{% for mensagem in get_flashed_messages() %}
    {{mensagem}}
{% endfor %}

<!-- loop de repetição, mostra cada tarefa uma por uma -->
<ul>
{% for tarefa in tarefas %}
    <li>{{ tarefa ['nome'] }} <a href="/remover/{{ loop.index0 }}">Remover</a>
        {% if not tarefa['concluida'] %}
        <a href="/concluir/{{ loop.index0 }}">Concluir</a>
        {% else %}
            <button>Tarefa Concluída</button>
        {% endif %}
    </li>

{% endfor%}

</ul>
</body>
</html>