<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <meta charset="UTF-8">
    <title>Minhas Tarefas</title>
</head>

<body>
<h1>Minhas Tarefas</h1>

<form method="POST">

        <input type="text" name="Tarefa">
    <button type="submit">Adicionar</button>

</form>

<!-- loop de repetição, mostra cada tarefa uma por uma -->
<ul>
{% for tarefa in tarefas %}
    <li>{{ tarefa }} <a href="/remover/{{ loop.index0 }}">Remover</a></li>
{% endfor%}
</ul>

</body>
</html>